/* 全體選擇器 */
*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft JhengHei";
}

/* 標籤選擇器 */
body{    
    background: linear-gradient(to right,#f8fbf8,#e6eae3); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* class或其他選擇器 */
.header{
    background: #b8d200;
    color: #0d0015;
    padding: 16px;
    margin-bottom:32px;
    text-align: center;
}

.header__title{
    font-size: 30px;
}

.container{
    max-width: 400px;
    margin: 0 auto;
}

.container__title{
    background: #b8d200;
    color: #0d0015;
    font-size: 24px;
    padding: 8px;
}

.container__form{
    display: flex;
    /* 分配多出的空間 */
    /* justify-content: center; */
}

.container__form input{
    /* 把多出來的空間以百分比分配給指定元素 */
    flex-grow: 4;
    font-size: 18px;
    padding: 6px;
    border: none;
}

.container__form button{
    /* 把多出來的空間以百分比分配給指定元素 */
    flex-grow: 1;
    font-size: 18px;
    padding: 6px;
    background: #0d0015;
    color: white;
    border: none;
}